.destinations{
    width: 312px;
    margin: 0 auto;
}


.destinations .item header{
display: block;
position: static;
  white-space: nowrap;
background-color: transparent;
padding: 0;
margin-bottom: 24px;
}



.destinations-items{
     margin: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  
}

.destinations .item header{
    display: flex;
    flex-direction: column;
    gap: 24px; 
}

.img-item-tokyo{
    background-image: url("../img/tokyo-moobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 312px;
    height: 360px;

  
}

.img-item-osaka{
    background-image: url("../img/osaka-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 312px;
    height: 360px;

}





.destinations .item h4{
    font-size: 28px;
    font-weight: var(--title-weight);
    margin: 0;
}



.button-2{
  width: 280px;
  height: 64px;
  color: var(--text-secondary-color);
  font-weight: var(--title-weight);
  font-size: 20px;
  background-color: var(--button-secondary-color);
  border-radius: 16px;
  display: flex;
  align-items: center;      /* centraliza vertical */
  justify-content: center;  /* centraliza horizontal */

  text-decoration: none;
}




@media screen and (min-width: 700px){

    .destinations{
    width: 648px;
   margin: 0 auto;
}




    .img-item-tokyo{
    background-image: url("../img/tokyo-desk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 648px;
    height: 452px;
   

  
}

.img-item-osaka{
    background-image: url("../img/osaka-desk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 648px;
    height: 452px;

}



    

}



@media screen and (min-width: 1440px) {

  .destinations{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .destinations-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    row-gap: 24px;
  }

  /* remove o "card vertical" */
  .destinations .item{
    display: contents;
  }

  /* IMAGENS – linha 1 */
  .destinations .item header{
    grid-row: 1;
  }

  /* TEXTO – linha 2 */
  .destinations .item p{
    grid-row: 2;
  }

  /* BOTÃO – linha 3 */
  .destinations .item footer{
    grid-row: 3;
  }

  /* imagens responsivas */
  .img-item-tokyo,
  .img-item-osaka{
    width: 100%;
    height: 420px;
    max-width: 100%;
  }

  .destinations .item p{
    max-width: 560px;
  }

  .destinations .item footer{
    margin-top: 8px;
  }
}