.destinations{
    width: 312px;
    margin: 0 auto;
}


.destinations .item header{
display: block;
position: static;
  white-space: nowrap;
background-color: transparent;
padding: 0;
margin-bottom: 24px;
}



.destinations-items{
     margin: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  
}

.destinations .item header{
    display: flex;
    flex-direction: column;
    gap: 24px; 
}

.img-item-tokyo{
    background-image: url("../img/tokyo-moobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 312px;
    height: 360px;

  
}

.img-item-osaka{
    background-image: url("../img/osaka-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 312px;
    height: 360px;

}





.destinations .item h4{
    font-size: 28px;
    font-weight: var(--title-weight);
    margin: 0;
}



.button-2{
  width: 280px;
  height: 64px;
  color: var(--text-secondary-color);
  font-weight: var(--title-weight);
  font-size: 20px;
  background-color: var(--button-secondary-color);
  border-radius: 16px;
  display: flex;
  align-items: center;      /* centraliza vertical */
  justify-content: center;  /* centraliza horizontal */

  text-decoration: none;
}




@media screen and (min-width: 700px){

    .img-item-tokyo{
    background-image: url("../img/tokyo-desk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 648px;
    height: 452px;
      margin: 0 auto 

  
}

.img-item-osaka{
    background-image: url("../img/osaka-desk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 648px;
    height: 452px;
  margin: 0 auto 
}


    

}



@media screen and (min-width: 1024px) {


}