@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: swap;
}

:root {
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --button-primary-color: #8f0101;
  --button-secondary-color: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --font-stile: "Montserrat", sans-serif;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/* CSS Reset */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.section-title h2{
font-size: 28px;
font-weight: var(--title-weight);
text-align: center;
font-family: var(--font-stile);
margin: 0;
}

.section-title hr{
  width: 180px;
  height: 4px;
  background-color: var(--button-secondary-color);
  margin: 16px  auto 36px auto;
  border: none;
}




@media screen and (min-width: 768px) {
.section-title h2{
font-size: 32px;
}
}



@media screen and (min-width: 1024px) {


}

