@font-face {
  font-family: "Montserrat";
  src: url("../css/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --button-primary-color: #8f0101;
  --button-secondary-color: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --font-style: "Montserrat", sans-serif;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-style);
}

section {
  max-width: 312px;
  margin: 0 auto;
}

section.hero {
  max-width: 100%;
  margin: 0;
}

.section-title h2 {
  font-family: var(--font-style); /* corrigido */
  font-size: 28px;
  font-weight: var(--title-weight);
  text-align: center;
  margin: 0;
}

.section-title h2.sub2 {
  margin-top: 88px;
  margin-bottom: 32px;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--button-secondary-color);
  margin: 16px auto 36px;
  border: none;
}

.content-title {
  font-size: 28px;
  font-weight: var(--title-weight);
}

.content-text {
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 32px;
}

.button {
  width: 280px;
  height: 64px;
  color: var(--text-secondary-color);
  font-weight: var(--title-weight);
  font-size: 20px;
  background-color: var(--button-secondary-color);
  border-radius: 16px;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  line-height: 64px;
}

.hero-img {
  width: 100%;
  height: 400px;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero p {
  padding: 88px 24px;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  section {
    max-width: 648px;
  }

  .section-title h2 {
    font-size: 32px;
  }

  .hero-img {
    height: 620px;
    background-image: url("../img/hero-tablet.jpg");
  }

  .hero p {
    padding: 88px 120px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background-image: url("../img/hero-desktop.jpg");
  }

  .hero p {
    padding: 88px 160px;
  }
}

@media screen and (min-width: 1440px) {
  section {
    max-width: 1200px;
  }
}
