



.hero-img {
  height: 400px;
  width: 100%;
  background-image: url(../img/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.hero p {
  padding: 88px 24px;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}


.hero2-img {
  height: 400px;
  margin-top: 88px;
  width: 100%;
  background-image: url(../img/hero2-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

section.hero2 {
  max-width: 100%;
  margin: 0;
}





@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background-image: url(../img/hero-tablet.jpg);
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 120px;
    font-size: 32px;
  }
 
  .hero2-img {
    height: 620px;
    background-image: url(../img/hero2-tablet.png);
    background-size: cover;
  }


}





@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    background-image: url(../img/hero-desktop.jpg);
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 160px;
  }

  .hero2-img {
    height: 620px;
    background-image: url(../img/hero2-desktop.png);
    background-size: cover;
  }


}
