



.hero-img {
  height: 400px;
  width: 100%;
  background-image: url(../img/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.hero p {
  padding: 88px 24px;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

/* HERO footer  first page*/
.hero2-img {
  height: 400px;
  margin-top: 88px;
  width: 100%;
  background-image: url(../img/hero2-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

section.hero2 {
  max-width: 100%;
  margin: 0;
}


/* HERO BLOG */

.blog-hero {
 position: relative;
  width: 100%;
  max-width: 100%;   
  margin: 0;    
}

.blog-hero .hero-img {
  height: 400px;
  width: 100%;
  background: url("../img/blog-hero-moblile.jpg") no-repeat center;
  background-size: cover;
}

section .hero-img {
  max-width: 100%;
  margin: 0;
}

.blog-hero .hero-content {
  position: absolute;
  top: 50%;
  left: 24px;
  right: 24px;
  transform: translateY(-50%);
  font-family: var();
  color: var(--text-secondary-color);
  font-weight: var(--title-weight);
}


.blog-hero .hero-content hr {
    width: 180px;
    height: 4px;
    background-color: var(--button-secondary-color); 
    margin: 16px 0 32px;
    margin: 16px 20px;
}

.blog-hero .hero-content p {
    font-size: 20px;
    color: var(--text-secondary-color);
    font-weight: var(--text-weight);
    line-height: 32px;
}


/* HERO Pacotes de viagem */

.pacote-hero {
 position: relative;
  width: 100%;
  max-width: 100%;   
  margin: 0;    
}

.pacote-hero .pacotehero-img {
  height: 400px;
  width: 100%;
  background: url("../img/vulcao-mobile.png") no-repeat center;
  background-size: cover;
}

section .pacotehero-img {
  max-width: 100%;
  margin: 0;
}

.pacote-hero .hero-content {
  position: absolute;
  top: 50%;
  left: 24px;
  right: 24px;
  transform: translateY(-50%);
  font-family: var();
  color: var(--text-secondary-color);
  font-weight: var(--title-weight);
}


@media screen and (min-width: 768px) {
 
 
 
  .hero-img {
    height: 620px;
     width: 100%;
    background-image: url(../img/hero-tablet.jpg);
    background-size: cover;
  }

   .hero-content{
    margin-right: 200px;
   }


  .hero h2 {
    padding: 88px 120px;
    font-size: 32px;
  }
 
  .hero2-img {
    height: 620px;
    background-image: url(../img/hero2-tablet.png);
    background-size: cover;
  }


  /* HERO BLOG */

.blog-hero .hero-img {
  height: 620px;
  background: url("../img/blog-hero-tablet.png") ;
  background-size: cover;
}

    .travel-packages .hero-content {
        margin: right 200px; ;
    }


  /* HERO pacotes de viagem */

.pacote-hero .pacotehero-img {
  height: 620px;
  background: url("../img/vulcao-tablet.png") ;
  background-size: cover;
}

    .pacote-hero .hero-content {
        margin-right: 200px;
    }





}



@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    background-image: url(../img/hero-desktop.jpg);
    background-size: cover;
  }

     .hero-content{
    margin-right: 400px;
   }

  .hero h2 {
    padding: 88px 160px;
  }

  .hero2-img {
    height: 620px;
    background-image: url(../img/hero2-desktop.png);
    background-size: cover;
  }

    /* HERO BLOG */

.blog-hero .hero-img {
  height: 620px;
  background: url("../img/blog-hero-desk.png") ;
  background-size: cover;
}

    .travel-packages .hero-content {
        width: 1200px;
    }


  /* HERO pacotes de viagem */

.pacote-hero .pacotehero-img {
  height: 620px;
  background: url("../img/vulcao-desktop.png") ;
  background-size: cover;
}

    .pacote-hero .hero-content {
        width: 700px;
    }

  

}


@media screen and (min-width: 1440px) {

     .hero-content{
    margin-right: 600px;
   }


  
}