.offers-cards {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.offers-cards .card {
  color: var(--text-secondary-color);
  padding: 24px 16px;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  border-radius: 16px;
  text-align: center;
  background-color: transparent;
}

.offers-cards .card header {
  display: block;
  position: static;
  white-space: nowrap;
  background-color: transparent;
  padding: 0;
  margin-bottom: 24px;
}

.offers-cards .card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.offers-cards .card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin: 8px 0 0;
}
.offers-cards .card header span {
  font-size: 32px;
  margin-top: 24px;
  display: block;
}

.card.Japao {
  background: url(../img/bg-card-japao.jpg) no-repeat;
  background-size: cover;
}

.card.san-andreas {
  background: url(../img/bg-card-san-andreas.jpg) no-repeat;
  background-size: cover;
}

.card.paraiba {
  background: url(../img/bg-card-paraiba.jpg) no-repeat;
  background-size: cover;
}

.card.manaus {
  background: url(../img/bg-card-manaus.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .offers-cards {
    flex-direction: row;
  }

  .card header span {
    display: inline-block;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 420px;
    height: 308px;
  }

  .card header h3 {
    font-size: 48px;
    font-weight: var(--title-weight);
    margin: 8px 0 0;
  }

  .card header span {
    font-size: 40px;
    margin-top: 24px;
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .offers-cards .card {
    color: var(--text-secondary-color);
    width: 588px;
    height: 308px;
  }
}
